<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">

  <title>Home</title>

</head>

<body>
  <div class="content">
    <div class="title">
      Emerging Technologies
    </div>
    <div class="menu">
      <ul>
        <li><a href="file:///C|/wamp64/www/outcome2/dogecoin">Dogecoin</a></li>
        <li><a href="file:///C|/wamp64/www/outcome2/3d">3D Printing</a></li>
        <li><a href="file:///C|/wamp64/www/outcome2/dictation">Dictation</a></li>
      </ul>

    </div>
    <div class="about">
      <h1>About Us</h1>

      <p> text text text <br>
        text text text <br>
        text text text <br>
        text text text <br>
        text text text <br>
      </p>
    </div>
    <a class="one" href="https://www.google.com/"> </a><a class="one" href="https://www.google.com/">
      <div class="info">
        <h1>Dogecoin</h1>
        <p> info info info info info info <br>
          info info info info info info <br>
          info info info info info info <br>
          info info info info info info <br>
          info info info info info info <br>
          info info info info info info <br>
          info info info info info info <br>
          info info info info info info <br>
        </p>
      </div>
    </a><a class="one" href="https://www.google.com/"> </a> <a class="one" href="file:///C|/wamp64/www/outcome2/3d">
      <div class="info">
        <h1>3D Printing</h1>
        <p> info info info info info info <br>
          info info info info info info <br>
          info info info info info info <br>
          info info info info info info <br>
          info info info info info info <br>
          info info info info info info <br>
          info info info info info info <br>
          info info info info info info <br>
        </p>
      </div>
    </a> <a class="one" href="https://www.google.com/">
      <div class="info">
        <h1>Dictation</h1>
        <p> info info info info info info <br>
          info info info info info info <br>
          info info info info info info <br>
          info info info info info info <br>
          info info info info info info <br>
          info info info info info info <br>
          info info info info info info <br>
          info info info info info info <br>
        </p>
      </div>
    </a>
  </div>
  <footer class="footer">
    <a href="privacypolicy.html">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Last Edited: 21/08/12
  </footer>
</body>

</html>